body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #bdc3c7 , #2c3e50);
  background: linear-gradient(to right, #bdc3c7 , #2c3e50);
  min-height: 100vh;
  overflow-x: hidden !important;
}

#date {
	width: 40%;
	height: 43%
}

#btn {
	width: 40%;
}

#title {
  background-color: #e9ecef;
}